header {
  cursor: default;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  
  z-index: 2;
}

.content-container {
  background-color: rgba(255, 127, 80, var(--bg-opacity));

  box-sizing: border-box;
  width: calc(100vw - 12px);
  height: calc(100vh - 80px);

  margin: 0 0 0 10px;

  display: grid;
  grid-template-rows: calc((50px) + 50px) 1fr;

  overflow-y: scroll;
}

.modification-container {
  background-color: rgba(57, 185, 57, var(--bg-opacity));

  width: calc(100vw - 100px);
  max-width: 925px;

  margin: 50px 50px 0 50px;

  display: flex;
  justify-self: center;
}

.revelation-container {
  background-color: rgba(255, 217, 0, var(--bg-opacity));

  margin: 0 50px 50px 50px;
}





/*/ Scrollbar */

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-thumb {
  cursor: grab;
}

main::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/*/ END - Scrollbar */