:root {
  --bg-opacity: .1;

  --primary-accent: #48bfe3;
  --primary-light-accent: #97d5e7;
  --primary-dark-accent: #3d97b3;
}



body {
  margin: 80px 0 0 0;

  overflow: hidden;
}

dialog {
  border: none;
}

select,
span,
div,
p {
  font-family: Raleway, Arial, Sans-serif;
}

.input,
input,
select.numerical,
span.numerical,
div.numerical,
p.numerical {
  font-family: Roboto, Monospace, Sans-serif;
}

.input,
input {
  font-weight: 300;
}

img.icon {
  height: 20px;
}

button,
select, 
input {
  margin: 0;
  border: none;
  padding: 0;
}

button,
select {
  cursor: pointer;

  transition: opacity 0.15s;
}

button:active,
select:active {
  opacity: 0.9;
}

select:focus,
.input .editable:focus,
input:focus {
  outline: none;
}



/*/ Defaults Select */

select {
  appearance: base-select;
}
::picker(select) {
  appearance: base-select;
  border: none;
}
option {
  outline: none;
}
option::checkmark {
  content: none;
}

/*/ END - Defaults Select */





/*/ Custom Inputs */

.input {
  position: relative;
}
.input .editable {
  padding: 1px 1px;
}
.input::after {
  content: attr(placeholder);
  white-space: nowrap;
  color: grey;

  position: absolute;
  left: 0;
}

/*/ END - Custom Inputs */





/*/ Scrollbar */

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}