header {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}



/*/ Title Section */

header .title-section {
  background-color: rgba(153, 50, 204, var(--bg-opacity));
}

header .title {
  border-radius: 5px;

  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;

  position: absolute;
  left: 15px;
  width: 220px;
  top: 15px;
  height: 50px;

  box-shadow: 0 0 4px -3px black;
}

header .title .logo {
  justify-self: center;
}

header .title .name {
  height: 34px;

  font-size: 25px;
}

/*/ END - Title Section */





/*/ Search Section */

header .search-section {
  background-color: rgba(76, 238, 35, var(--bg-opacity));

  display: flex;
  align-items: center;
}

header .filter-search,
header .search-bar,
header .search-button {
  background-color: white;

  height: 32px;
}

/*/ Filter Search*/
header .filter-search {
  color: black;

  font-size: 14px;
  font-weight: 550;

  max-width: 50%;

  margin-left: 20px;
  padding: 0 10px 0 10px;
  align-items: center;

  border-radius: 2px 0 0 0;
}
.filter-search::picker-icon {
  transition: rotate 0.2s;
}
.filter-search:open::picker-icon {
  rotate: -180deg;
}

select.filter-search option {
  color: black;

  font-size: 16px;
  font-weight: 400;

  justify-content: center;

  padding: 0;
}

.filter-search option:hover,
.filter-search option:focus {
  background: var(--primary-light-accent);
}

.filter-search option:checked {
  font-weight: 700;
}
/*/ END - Filter Search */

header .search-bar {
  flex: 1;
  max-width: 500px;

  border-left: 1px solid grey;
  padding-left: 10px;
}

header .search-button {
  opacity: 0.9;

  width: 32px;

  margin-right: 20px;
  border-radius: 0 2px 2px 0;

  transition: opacity 0.15s;
}

header .search-button:active {
  opacity: 0.85;
}

/*/ END - Search Section */



header .personal-section {
  background-color: rgba(192, 102, 18, var(--bg-opacity));
}