:root {
  --primary-dark: hsl(0, 0%, 12%);
  --secondary-dark: hsl(0, 0%, 9%);
  --tertiary-dark: hsl(0, 0%, 6%);
}

body.dark-theme {
  background-color: black;
}

body.dark-theme span,
body.dark-theme div,
body.dark-theme p {
  color: white;
}

body.dark-theme header {
  background-color: var(--secondary-dark);
}

body.dark-theme header .title {
  background-color: var(--primary-dark);
}

body.dark-theme main::-webkit-scrollbar-track {
  background: var(--tertiary-dark);

  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

body.dark-theme main::-webkit-scrollbar-thumb {
  background: var(--secondary-dark);

  box-shadow: 0 0 5px rgb(0, 0, 0);
}

body.dark-theme main::-webkit-scrollbar-thumb:active {
  background: var(--primary-dark-accent);
}