:root {
  --primary-dark: hsl(230, 2%, 18%);
  --secondary-dark: hsl(230, 2%, 15%);
  --tertiary-dark: hsl(230, 2%, 12%);
}

body.dark-theme {
  background-color: hsl(230, 2%, 9%);
}

body.dark-theme span,
body.dark-theme div,
body.dark-theme p {
  color: white;
}

body.dark-theme header .title {
  background-color: var(--primary-dark);
}

body.dark-theme header,
body.dark-theme .revelation {
  background-color: var(--secondary-dark);
}

body.dark-theme .tag {
  background-color: var(--tertiary-dark);
}

body.dark-theme header {
  border-bottom: 1px solid var(--tertiary-dark);
  box-shadow: 0 0 5px black;
}



/*/ Scrollbar */

body.dark-theme main::-webkit-scrollbar-track {
  background: var(--tertiary-dark);

  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

body.dark-theme main::-webkit-scrollbar-thumb {
  background: var(--secondary-dark);

  box-shadow: 0 0 5px rgb(0, 0, 0);
}

body.dark-theme main::-webkit-scrollbar-thumb:active {
  background: var(--primary-dark-accent);
}